import { CredentialsStore } from './src/types'

export const credentialsStore: CredentialsStore = {
  'internet-archive-open-library': {
    id: '9999999',
    password: '*******************',
  },
  'japan-chiba-matsudo': {
    id: '9999999',
    password: '*******************',
  },
  'japan-tokyo-bunkyo': {
    id: '9999999',
    password: '*******************',
  },
}
